:root, [data-ui-theme=nostromo] {
  --editor-primary: #58934c;
  --editor-secondary: #958d44;

  --editor-background: #00a5ff;
  --editor-background: #00a5ff;

  --editor-light: #141920;
  --editor-dark:  #0a0e12;

  --editor-success: #0af2cf;
  --editor-info: #0ae6f2;
  --editor-warning: #d2f20a;
  --editor-danger: #f7631a;

  /* tints - only color mix allowed */

  --editor-border: color-mix(in srgb, var(--editor-background) 90%, black);
  --editor-gradient0: color-mix(in srgb, var(--editor-background) 10%, black);
  --editor-gradient1: color-mix(in srgb, var(--editor-background) 5%, black);

  /* components */


}

#editor-primary-gradient {
  --editor-gradient0: color-mix(in srgb, var(--editor-background) 25%, black);
  --editor-gradient1: color-mix(in srgb, var(--editor-background) 35%, black);
}

#editor-secondary-gradient {
  --editor-gradient0: color-mix(in srgb, var(--editor-light) 85%, white);
  --editor-gradient1: color-mix(in srgb, var(--editor-light) 95%, white);
}


body {
  background-color: black;
}

svg.editor-interface {
    outline: none;
}
.editor-scene {
  fill: transparent;
}








.window-border {
    stroke: var(--editor-light);
}


.window-background {
    stroke: var(--editor-light);
    /* fill: url("#editor-background-gradient"); */
}

.viewport-background {
  fill: url("#editor-primary-gradient");
    stroke: var(--editor-border);
}

.viewport-background.root-window {
    stroke: var(--editor-border);
    fill: url("#editor-secondary-gradient");
}












/*
  editor-anchor-line
  editor-component-what
*/

.editor-anchor {

  stroke: var(--editor-primary);
  fill: var(--editor-dark);

  stroke-width: 2;


  &.compatible {
    fill: var(--editor-success);
  }

  &.incompatible {
    fill: var(--editor-danger);
  }

  &.selected {
    stroke: var(--editor-warning);
  }

}






.editor-anchor-line {
  stroke: var(--editor-primary);
  stroke-width: 2;
}


.editor-line {
    stroke: var(--editor-border);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-line-midpoint {
  fill: var(--editor-primary);
  stroke: var(--editor-primary);
  &.selected {
    stroke: var(--editor-warning);
    fill: var(--editor-warning);
  }
}

.editor-caption {
    stroke: var(--editor-border);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-primary);
  }
}

.editor-junction {
    stroke: var(--editor-border);
  stroke-width: 2;
  &.selected {
    stroke: var(--editor-warning);
  }
}

.editor-container {
    stroke: var(--editor-border);
  stroke-width: 2;
}

.editor-control {
    stroke: var(--editor-border);
  stroke-width: 2;
}

.editor-frame {
    stroke: var(--editor-border);
  stroke-width: 2;
}

div.editor-codemirror {
  background-color: var(--editor-dark);
  border: 2px solid var(--editor-dark);
}

div.editor-codemirror * {
  border-radius: 0 ! important;
}


.editor-label {
    stroke: var(--editor-border);
  fill: var(--editor-dark);
  &.selected {
    fill: var(--editor-warning);
  }
}
.editor-label-text {
  pointer-events: none;
  fill: var(--editor-primary);
}





.editor-device-info-text {
  fill: var(--editor-primary);
}

.editor-device-info {
    stroke: var(--editor-border);
  fill: var(--editor-dark);
  &.selected {
    fill: var(--editor-warning);
  }
}
